# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
.factorypath
bin/
out/

# OS
.DS_Store
Thumbs.db

# Logs & local env
*.log
logs/
.env
